# PULLDOWN is needed to prevent floating inputs
NET "ct_button[0]" LOC = P57;
NET "ct_button[0]" IOSTANDARD = LVTTL;
NET "ct_button[0]" PULLUP;
NET "ct_button[1]" LOC = P66;
NET "ct_button[1]" IOSTANDARD = LVTTL;
NET "ct_button[1]" PULLUP;
NET "ct_button[2]" LOC = P78;
NET "ct_button[2]" IOSTANDARD = LVTTL;
NET "ct_button[2]" PULLUP;
NET "ct_button[3]" LOC = P74;
NET "ct_button[3]" IOSTANDARD = LVTTL;
NET "ct_button[3]" PULLUP;
NET "ct_button[4]" LOC = P58;
NET "ct_button[4]" IOSTANDARD = LVTTL;
NET "ct_button[4]" PULLUP;
NET "ct_button[5]" LOC = P67;
NET "ct_button[5]" IOSTANDARD = LVTTL;
NET "ct_button[5]" PULLUP;

NET "ct_led[0]" LOC = P80;
NET "ct_led[0]" IOSTANDARD = LVTTL;
NET "ct_led[1]" LOC = P82;
NET "ct_led[1]" IOSTANDARD = LVTTL;
NET "ct_led[2]" LOC = P84;
NET "ct_led[2]" IOSTANDARD = LVTTL;
NET "ct_led[3]" LOC = P87;
NET "ct_led[3]" IOSTANDARD = LVTTL;
NET "ct_led[4]" LOC = P92;
NET "ct_led[4]" IOSTANDARD = LVTTL;
NET "ct_led[5]" LOC = P75;
NET "ct_led[5]" IOSTANDARD = LVTTL;
NET "ct_led[6]" LOC = P79;
NET "ct_led[6]" IOSTANDARD = LVTTL;
