# PULLDOWN is needed to prevent floating inputs
NET "ct_button[0]" LOC = P57;
NET "ct_button[0]" IOSTANDARD = LVTTL;
NET "ct_button[0]" PULLUP;
NET "ct_button[1]" LOC = P66;
NET "ct_button[1]" IOSTANDARD = LVTTL;
NET "ct_button[1]" PULLUP;
NET "ct_button[2]" LOC = P78;
NET "ct_button[2]" IOSTANDARD = LVTTL;
NET "ct_button[2]" PULLUP;
NET "ct_button[3]" LOC = P74;
NET "ct_button[3]" IOSTANDARD = LVTTL;
NET "ct_button[3]" PULLUP;
NET "ct_button[4]" LOC = P80;
NET "ct_button[4]" IOSTANDARD = LVTTL;
NET "ct_button[4]" PULLUP;
NET "ct_button[5]" LOC = P82;
NET "ct_button[5]" IOSTANDARD = LVTTL;
NET "ct_button[5]" PULLUP;

NET "ct_led[0]" LOC = P84;
NET "ct_led[0]" IOSTANDARD = LVTTL;
NET "ct_led[1]" LOC = P87;
NET "ct_led[1]" IOSTANDARD = LVTTL;
NET "ct_led[2]" LOC = P92;
NET "ct_led[2]" IOSTANDARD = LVTTL;
NET "ct_led[3]" LOC = P94;
NET "ct_led[3]" IOSTANDARD = LVTTL;
NET "ct_led[4]" LOC = P97;
NET "ct_led[4]" IOSTANDARD = LVTTL;
NET "ct_led[5]" LOC = P99;
NET "ct_led[5]" IOSTANDARD = LVTTL;
NET "ct_led[6]" LOC = P101;
NET "ct_led[6]" IOSTANDARD = LVTTL;

NET "ct2_button[0]" LOC = P104;
NET "ct2_button[0]" IOSTANDARD = LVTTL;
NET "ct2_button[0]" PULLUP;
NET "ct2_button[1]" LOC = P111;
NET "ct2_button[1]" IOSTANDARD = LVTTL;
NET "ct2_button[1]" PULLUP;
NET "ct2_button[2]" LOC = P114;
NET "ct2_button[2]" IOSTANDARD = LVTTL;
NET "ct2_button[2]" PULLUP;
NET "ct2_button[3]" LOC = P116;
NET "ct2_button[3]" IOSTANDARD = LVTTL;
NET "ct2_button[3]" PULLUP;
NET "ct2_button[4]" LOC = P118;
NET "ct2_button[4]" IOSTANDARD = LVTTL;
NET "ct2_button[4]" PULLUP;
NET "ct2_button[5]" LOC = P120;
NET "ct2_button[5]" IOSTANDARD = LVTTL;
NET "ct2_button[5]" PULLUP;

NET "ct2_led[0]" LOC = P105;
NET "ct2_led[0]" IOSTANDARD = LVTTL;
NET "ct2_led[1]" LOC = P112;
NET "ct2_led[1]" IOSTANDARD = LVTTL;
NET "ct2_led[2]" LOC = P115;
NET "ct2_led[2]" IOSTANDARD = LVTTL;
NET "ct2_led[3]" LOC = P117;
NET "ct2_led[3]" IOSTANDARD = LVTTL;
NET "ct2_led[4]" LOC = P119;
NET "ct2_led[4]" IOSTANDARD = LVTTL;
NET "ct2_led[5]" LOC = P121;
NET "ct2_led[5]" IOSTANDARD = LVTTL;
NET "ct2_led[6]" LOC = P85;
NET "ct2_led[6]" IOSTANDARD = LVTTL;

NET "ct3_button[0]" LOC = P50;
NET "ct3_button[0]" IOSTANDARD = LVTTL;
NET "ct3_button[0]" PULLUP;
NET "ct3_button[1]" LOC = P40;
NET "ct3_button[1]" IOSTANDARD = LVTTL;
NET "ct3_button[1]" PULLUP;
NET "ct3_button[2]" LOC = P34;
NET "ct3_button[2]" IOSTANDARD = LVTTL;
NET "ct3_button[2]" PULLUP;
NET "ct3_button[3]" LOC = P32;
NET "ct3_button[3]" IOSTANDARD = LVTTL;
NET "ct3_button[3]" PULLUP;
NET "ct3_button[4]" LOC = P29;
NET "ct3_button[4]" IOSTANDARD = LVTTL;
NET "ct3_button[4]" PULLUP;
NET "ct3_button[5]" LOC = P26;
NET "ct3_button[5]" IOSTANDARD = LVTTL;
NET "ct3_button[5]" PULLUP;

NET "ct3_led[0]" LOC = P23;
NET "ct3_led[0]" IOSTANDARD = LVTTL;
NET "ct3_led[1]" LOC = P21;
NET "ct3_led[1]" IOSTANDARD = LVTTL;
NET "ct3_led[2]" LOC = P16;
NET "ct3_led[2]" IOSTANDARD = LVTTL;
NET "ct3_led[3]" LOC = P14;
NET "ct3_led[3]" IOSTANDARD = LVTTL;
NET "ct3_led[4]" LOC = P11;
NET "ct3_led[4]" IOSTANDARD = LVTTL;
NET "ct3_led[5]" LOC = P9;
NET "ct3_led[5]" IOSTANDARD = LVTTL;
NET "ct3_led[6]" LOC = P7;
NET "ct3_led[6]" IOSTANDARD = LVTTL;

NET "ct4_button[0]" LOC = P27;
NET "ct4_button[0]" IOSTANDARD = LVTTL;
NET "ct4_button[0]" PULLUP;
NET "ct4_button[1]" LOC = P24;
NET "ct4_button[1]" IOSTANDARD = LVTTL;
NET "ct4_button[1]" PULLUP;
NET "ct4_button[2]" LOC = P22;
NET "ct4_button[2]" IOSTANDARD = LVTTL;
NET "ct4_button[2]" PULLUP;
NET "ct4_button[3]" LOC = P17;
NET "ct4_button[3]" IOSTANDARD = LVTTL;
NET "ct4_button[3]" PULLUP;
NET "ct4_button[4]" LOC = P15;
NET "ct4_button[4]" IOSTANDARD = LVTTL;
NET "ct4_button[4]" PULLUP;
NET "ct4_button[5]" LOC = P12;
NET "ct4_button[5]" IOSTANDARD = LVTTL;
NET "ct4_button[5]" PULLUP;

NET "ct4_led[0]" LOC = P10;
NET "ct4_led[0]" IOSTANDARD = LVTTL;
NET "ct4_led[1]" LOC = P8;
NET "ct4_led[1]" IOSTANDARD = LVTTL;
NET "ct4_led[2]" LOC = P6;
NET "ct4_led[2]" IOSTANDARD = LVTTL;
NET "ct4_led[3]" LOC = P2;
NET "ct4_led[3]" IOSTANDARD = LVTTL;
NET "ct4_led[4]" LOC = P144;
NET "ct4_led[4]" IOSTANDARD = LVTTL;
NET "ct4_led<5>" LOC = P142 | IOSTANDARD = LVTTL;
NET "ct4_led[5]" IOSTANDARD = LVTTL;
NET "ct4_led<6>" LOC = P140 | IOSTANDARD = LVTTL;
NET "ct4_led[6]" IOSTANDARD = LVTTL;
