# PULLDOWN is needed to prevent floating inputs
NET "io_button<0>" LOC = P137 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_button<1>" LOC = P140 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_button<2>" LOC = P139 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_button<3>" LOC = P142 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_button<4>" LOC = P138 | IOSTANDARD = LVTTL | PULLDOWN;
