# PULLDOWN is needed to prevent floating inputs
NET "ct_button<0>" LOC = P57 | IOSTANDARD = LVTTL | PULLUP;
NET "ct_button<1>" LOC = P66 | IOSTANDARD = LVTTL | PULLUP;
NET "ct_button<2>" LOC = P78 | IOSTANDARD = LVTTL | PULLUP;
NET "ct_button<3>" LOC = P74 | IOSTANDARD = LVTTL | PULLUP;
NET "ct_button<4>" LOC = P80 | IOSTANDARD = LVTTL | PULLUP;
NET "ct_button<5>" LOC = P82 | IOSTANDARD = LVTTL | PULLUP;

NET "ct_led<0>" LOC = P84 | IOSTANDARD = LVTTL;
NET "ct_led<1>" LOC = P87 | IOSTANDARD = LVTTL;
NET "ct_led<2>" LOC = P92 | IOSTANDARD = LVTTL;
NET "ct_led<3>" LOC = P94 | IOSTANDARD = LVTTL;
NET "ct_led<4>" LOC = P97 | IOSTANDARD = LVTTL;
NET "ct_led<5>" LOC = P99 | IOSTANDARD = LVTTL;
NET "ct_led<6>" LOC = P101 | IOSTANDARD = LVTTL;

NET "ct2_button<0>" LOC = P104 | IOSTANDARD = LVTTL | PULLUP;
NET "ct2_button<1>" LOC = P111 | IOSTANDARD = LVTTL | PULLUP;
NET "ct2_button<2>" LOC = P114 | IOSTANDARD = LVTTL | PULLUP;
NET "ct2_button<3>" LOC = P116 | IOSTANDARD = LVTTL | PULLUP;
NET "ct2_button<4>" LOC = P118 | IOSTANDARD = LVTTL | PULLUP;
NET "ct2_button<5>" LOC = P120 | IOSTANDARD = LVTTL | PULLUP;

NET "ct2_led<0>" LOC = P105 | IOSTANDARD = LVTTL;
NET "ct2_led<1>" LOC = P112 | IOSTANDARD = LVTTL;
NET "ct2_led<2>" LOC = P115 | IOSTANDARD = LVTTL;
NET "ct2_led<3>" LOC = P117 | IOSTANDARD = LVTTL;
NET "ct2_led<4>" LOC = P119 | IOSTANDARD = LVTTL;
NET "ct2_led<5>" LOC = P121 | IOSTANDARD = LVTTL;
NET "ct2_led<6>" LOC = P85 | IOSTANDARD = LVTTL;

NET "ct3_button<0>" LOC = P50 | IOSTANDARD = LVTTL | PULLUP;
NET "ct3_button<1>" LOC = P40 | IOSTANDARD = LVTTL | PULLUP;
NET "ct3_button<2>" LOC = P34 | IOSTANDARD = LVTTL | PULLUP;
NET "ct3_button<3>" LOC = P32 | IOSTANDARD = LVTTL | PULLUP;
NET "ct3_button<4>" LOC = P29 | IOSTANDARD = LVTTL | PULLUP;
NET "ct3_button<5>" LOC = P26 | IOSTANDARD = LVTTL | PULLUP;

NET "ct3_led<0>" LOC = P23 | IOSTANDARD = LVTTL;
NET "ct3_led<1>" LOC = P21 | IOSTANDARD = LVTTL;
NET "ct3_led<2>" LOC = P16 | IOSTANDARD = LVTTL;
NET "ct3_led<3>" LOC = P14 | IOSTANDARD = LVTTL;
NET "ct3_led<4>" LOC = P11 | IOSTANDARD = LVTTL;
NET "ct3_led<5>" LOC = P9 | IOSTANDARD = LVTTL;
NET "ct3_led<6>" LOC = P7 | IOSTANDARD = LVTTL;

NET "ct4_button<0>" LOC = P27 | IOSTANDARD = LVTTL | PULLUP;
NET "ct4_button<1>" LOC = P24 | IOSTANDARD = LVTTL | PULLUP;
NET "ct4_button<2>" LOC = P22 | IOSTANDARD = LVTTL | PULLUP;
NET "ct4_button<3>" LOC = P17 | IOSTANDARD = LVTTL | PULLUP;
NET "ct4_button<4>" LOC = P15 | IOSTANDARD = LVTTL | PULLUP;
NET "ct4_button<5>" LOC = P12 | IOSTANDARD = LVTTL | PULLUP;

NET "ct4_led<0>" LOC = P10 | IOSTANDARD = LVTTL;
NET "ct4_led<1>" LOC = P8 | IOSTANDARD = LVTTL;
NET "ct4_led<2>" LOC = P6 | IOSTANDARD = LVTTL;
NET "ct4_led<3>" LOC = P2 | IOSTANDARD = LVTTL;
NET "ct4_led<4>" LOC = P144 | IOSTANDARD = LVTTL;
NET "ct4_led<5>" LOC = P142 | IOSTANDARD = LVTTL;
NET "ct4_led<6>" LOC = P140 | IOSTANDARD = LVTTL;
